<div class="container events">

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <%for(let i = 0; i < events.length; i++){ %>
    <div class="col">
        <a href="/events/<%=events[i].id%>" class="card-link">
            <div class="custom-card">
                <img src="<%=events[i].slika%>" class="card-img-top" alt="Slika">
                <div class="card-body">
                    <h5 class="card-title" style="display:inline;"><%=events[i].naziv%> @<h6 style="display:inline;"><%=events[i].naziv_institucije%></h6></h5>
                    <h6><%=events[i].datum.toLocaleDateString()%>, <%=events[i].datum.toLocaleTimeString()%></h6>
                    <p class="card-text"><%=events[i].opis.slice(0,100)%>...%></p>
                </div>
            </div>
        </a>
    </div>
    <%}%>
</div>
</div>